In [4]:
import pandas as pd
from urllib.request import urlretrieve

urlretrieve('https://gist.githubusercontent.com/aakashns/28b2e504b3350afd9bdb157893f9725c/raw/994b65665757f4f8887db1c85986a897abb23d84/countries.csv', 
            'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x7fbbe4dfaa30>)

In [5]:
countries_df = pd.read_csv('countries.csv')
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775

Q1: How many countries does the dataframe contain?

In [6]:
num_countries = countries_df.sort_values('location')

print('There are {} countries in the dataset'.format(len(num_countries)))

There are 210 countries in the dataset

Q2: Retrieve a list of continents from the dataframe?

In [7]:
continents = countries_df.continent
continents

0        Asia
1      Europe
2      Africa
3      Europe
4      Africa
        ...
205      Asia
206    Africa
207      Asia
208    Africa
209    Africa
Name: continent, Length: 210, dtype: object

Q3: What is the total population of all the countries listed in this dataset?

In [8]:
total_population = countries_df.population.sum()
print('The total population is {}.'.format(int(total_population)))

The total population is 7757980095.

Q3.1: (Optional) What is the overall life expectancy across in the world?

In [9]:
total_population = countries_df['population']
life_expectancy = countries_df['life_expectancy']
total_life_expectancy = (total_population * life_expectancy).sum() / total_population.sum()
print('Expectancy across in the world is {} years old.'.format(total_life_expectancy))

Expectancy across in the world is 72.72165193409664 years old.

Q4: Create a dataframe containing 10 countries with the highest population.

In [10]:
most_pop_df = countries_df[['population', 'location']].sort_values(by=['population'], ascending=False)
most_pop_df.head(10)

       population       location
41   1.439324e+09          China
90   1.380004e+09          India
199  3.310026e+08  United States
91   2.735236e+08      Indonesia
145  2.208923e+08       Pakistan
27   2.125594e+08         Brazil
141  2.061396e+08        Nigeria
15   1.646894e+08     Bangladesh
157  1.459345e+08         Russia
125  1.289328e+08         Mexico

Q5: Add a new column in countries_df to record the overall GDP per country (product of population & per capita GDP).

In [11]:
countries_df['gdp'] = (countries_df.population) * (countries_df.gdp_per_capita)
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11
...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10

Q5.1: (Optional) Create a dataframe containing 10 countries with the highest GDP per capita, among the counties with population greater than 100 million.

In [12]:
countries_lowest_gdp = countries_df[['population', 'location', 'gdp_per_capita', 'gdp']].sort_values(by=['population'], ascending=False)
countries_lowest_gdp = countries_lowest_gdp.sort_values(['gdp_per_capita'], ascending=False)
countries_lowest_gdp.head(10)

     population              location  gdp_per_capita           gdp
155   2881060.0                 Qatar      116935.600  3.368985e+11
115    625976.0            Luxembourg       94277.965  5.901574e+10
169   5850343.0             Singapore       85535.383  5.004113e+11
29     437483.0                Brunei       71809.251  3.141533e+10
94    4937796.0               Ireland       67335.293  3.324879e+11
197   9890400.0  United Arab Emirates       67293.483  6.655595e+11
105   4270563.0                Kuwait       65530.537  2.798523e+11
143   5421242.0                Norway       64800.057  3.512968e+11
183   8654618.0           Switzerland       57410.166  4.968631e+11
162     33938.0            San Marino       56861.470  1.929765e+09

Q6: Create a data frame showing the total population of each continent.

In [13]:
continent_populations_df = countries_df.groupby('continent')[['population']].sum()
continent_populations_df

                 population
continent
Africa         1.339424e+09
Asia           4.607388e+09
Europe         7.485062e+08
North America  5.912425e+08
Oceania        4.095832e+07
South America  4.304611e+08

Q7: Create a data frame that counts the number countries in each continent?

In [14]:
country_counts_df =  countries_df.groupby('continent')[['location']].count()
country_counts_df

               location
continent
Africa               55
Asia                 47
Europe               51
North America        36
Oceania               8
South America        13

Q8: How many gdp-per-capital in Africa

In [65]:
gdp_africa = countries_df.loc[countries_df['continent'] == 'Africa']
gdp_africa = gdp_africa.groupby('continent')[['gdp_per_capita']].sum()
gdp_africa

           gdp_per_capita
continent
Africa         288523.368

Q8: How many gdp-per-capital in Asia

In [66]:
gdp_asia = countries_df.loc[countries_df['continent'] == 'Asia']
gdp_asia = gdp_asia.groupby('continent')[['gdp_per_capita']].sum()
gdp_asia

           gdp_per_capita
continent
Asia          1032210.905

Q8: How many time of gdp-per-capital beteen Asia and Africa

In [96]:
Af = gdp_africa['gdp_per_capita'][0]
As = gdp_asia['gdp_per_capita'][0]

a = As/Af

print(f'Asia has gdp-per-capital more than Africa {a} times')

Asia has gdp-per-capital more than Africa 3.577564313612199 times